
body{
    margin:0;
    font-family: Georgia,Times;
    color: #000000;
    font-size: 18px;
    line-height: 25px;
}
main #titulo h1{
    font-size: 2rem;
    line-height: 1.3em;
}
p{
    margin-bottom: 20.5px;
}
footer h2 {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
main h1,h2{
    text-align: center;
}
/*Clases*/
.container{
    width: 85%;
    max-width: 850px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header{
    background-color: #333;
    color:white;
    position: fixed;
    width: 100%;
    top:0;
}
.header a{
    color:white;
    text-decoration: none;
}
.navegacion{
    margin:0;
    padding:0;
    list-style: none;
    flex-wrap: wrap;
}
.navegacion ul li{
    display: inline-block;
}
.navegacion ul li a{
    display: block;
    padding: 10px 19px;
    border-radius: 10px;
    transition: all  linear;
}
.navegacion ul li a:hover{

    background: #060A5A;
    
}
.footer{
    left: 0;
    right: 0;
    background-color: #333;
    color:white;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content:space-around;   
}

.main{
    background-color: rgb(255, 255, 255);
    margin:0 auto;
    width: 85%;
    padding-top:100px;
    padding-bottom:40px;
    text-align: justify;
}

/* ID */
#oferta{
    margin:0 auto;
    display: flex;
    justify-content:left;
    align-items: center;
    border: 2px solid black;
    background-color: black;
    
}
.oferta{
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 0px ;
    border: 2px solid black ;
    width: 100%;
    height: 12%;
    background-color: rgb(73, 3, 3);
    color:rgb(219, 163, 7);
    font-family: Arial, Helvetica, sans-serif;
}
#titulo{

    width: 20%;
    height: 10%;
    padding: 2px;
    border-style: outset;
    margin:0 auto;
    background-color: #000000;
    color: rgb(243, 139, 2);
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

#formulario-contacto{
    width: 21%;
    height: 21%;
    border:2px solid black;
    align-items: center;
    text-align: center;
    background-color: rgb(70, 54, 54);
    color:azure
}

@media only screen and (max-width: 912px) {
    .navegacion{
        width: 100%; 
        margin-top: 15px;  
    }
    .navegacion ul li{
        display: block;
    }
    .navegacion ul li a{
        display: block;
        padding: 8px 0px;
        border-radius: 10px;
        transition: all  linear;
    }
    .navegacion ul li a:hover{
        background: #060A5A;
    }
}
