html{
    background-color: black;
}
body{
    margin:0 auto;
    font-family: Georgia,Times;
    color: #000000;
    font-size: 18px;
    line-height: 25px;
    width: 88%;
}
main #titulo h1{
    /* font-size: 2rem; */
    font-size: 95%;
    line-height: 1.3em;
    /* width:88%; */
}
p{
    margin-bottom: 20.5px;
}
footer h2 {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
main h1,h2{
    text-align: center;
}
.header{
    background-color: #333;
    /* box-sizing: content-box; */
    color:white;
    position: fixed;
    width: 88%;
    top:0;
}
.header a{
    color:white;
    text-decoration: none;
}
.container{
    width: 100%;
    /* max-width: 850px; */
    margin: 0 auto;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    box-sizing:border-box;
}

.container img{
    width: 10%;
    padding: 5px;
}

.navegacion{
    width: 90%;
    margin:0;
    padding:0;
    list-style: none;
    flex-wrap: wrap;
}
.navegacion ul li{
    display: inline-block;
}
.navegacion ul li a{
    display: block;
    padding: 10px 19px;
    border-radius: 10px;
    transition: all  linear;
}
.navegacion ul li a:hover{

    background: #060A5A;
    
}
.main{
    background-color: rgb(214, 211, 211);
    margin:0 auto;
    margin-top:90px;
    padding-bottom:40px;
    text-align: justify;
    padding-left: 7px;
    padding-right: 7px;
    box-sizing: border-box;
}
#titulo{
    min-width: 120px;
    width: 20%;
    height: 10%;
    padding: 2px;
    border-style: outset;
    margin:0 auto;
    background-color: #000000;
    color: rgb(243, 139, 2);
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.imagenes-servicios{
    right: 0;
    left: 0;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    
}
#oferta{
    margin:0 auto;
    display: flex;
    justify-content:left;
    align-items: center;
    border: 2px solid black;
    background-color: black;
    
}
.oferta{
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 0px ;
    border: 2px solid black ;
    width: 100%;
    height: 12%;
    background-color: rgb(73, 3, 3);
    color:rgb(219, 163, 7);
    font-family: Arial, Helvetica, sans-serif;
}
#formulario-contacto{
    display: inline-block;
    min-width: 260px;
    width: 20%;
    /* height: 30%; */
    border:2px solid black;
    text-align: center;
    background-color: rgb(70, 54, 54);
    color:azure;
    
}
.form-contacto input{
    width: 50%;
}

.campo-botones{
    padding-bottom: 2%;
}
.footer{
    left: 0;
    right: 0;
    background-color: #333;
    color:white;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content:space-around;   
}
@media only screen and (max-width: 912px) {
    .container img{
        width: auto;
    }
    .navegacion{
       text-align: center;

    } 
    .navegacion ul li{
        display: block;
    }
    .navegacion ul li a{
        display: block;
        padding: 8px 0px;
        border-radius: 10px;
        transition: all  linear;
    }
    .navegacion ul li a:hover{
        background: #060A5A;
    }
    .main {
        margin-top: 200px;
    }
   
}
